@model occupy.Models.IndexViewModel

@{
    var actionName= ViewContext.RouteData.Values["Action"]!.ToString();
}
<!--================Header Menu Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container box_1620">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/"><img src="~/uploads/files/icon/@Model.Site!.Logo"alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav justify-content-center">
							<li class='nav-item @(actionName=="Index"?"active":"")'><a class="nav-link" href="/">Ana Sayfa</a></li>
							<li class='nav-item @(actionName=="About"?"active":"")'><a class="nav-link" href="/about-us">Hakkımızda</a></li>
							<li class='nav-item @(actionName=="Service"?"active":"")'><a class="nav-link" href="/service">Hizmetler</a>
							<li class='nav-item @(actionName=="Event"?"active":"")'><a class="nav-link" href="/event">Etkinlikler</a>
							<li class='nav-item @(actionName=="Blog"?"active":"")'><a class="nav-link" href="/blog">Blog</a>
							 <li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false">Eğitimler</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="#">Yamaç Paraşutü</a>
									<li class="nav-item"><a class="nav-link" href="#">Paramator</a></li>
								</ul>
							</li> 
							@* <li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false">Blog</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
									<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a>
									</li>
								</ul>
							</li> *@
							<li class='nav-item @(actionName=="Contact"?"active":"")'><a class="nav-link" href="/contact">İletişim</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="@Model.Site!.Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li class="nav-item"><a href="@Model.Site!.Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
							<li class="nav-item"><a href="@Model.Site!.Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
							<li class="nav-item"><a href="@Model.Site!.Youtube" target="_blank"><i class="fa fa-youtube"></i></a></li>
							<li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================Header Menu Area =================-->